* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Quicksand', sans-serif;
    background-color: #F8F6F4;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 70px 0;
}

.home-nav {
    background-color: #E3F4F4;
    border: white 2px double;
}

h1 {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 5px #C4DFDF;
}

#navigation {
    padding: 0 0 15px 0;
}

#navigation li {
    display: inline;
    padding: 0 15px 0 0;

}

a {
    background: #ffffff;
    padding: 5px;
    border: #F8F6F4 1px solid;
    text-decoration: none;
    color: #86acac;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

a:hover {
    background: skyblue;
    color: white;
}

.page {
    display: inline-flex;
    justify-content: space-evenly;
}

.img-box {
    width: 40%;
}
img {
    width: 100%;
    height: auto;
}

.content {
    width: 40%;
    padding: 20px 20px 50px 20px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0 15px 0;
}

li {
    padding: 5px 0px 20px 5px;
    margin-left: 13px;
}

ul {
    margin-left: 50px;
}

.source {
    padding: 20px 0;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}